<%- include("pirtials/header")  %> 

<h1 class="heading">Home</h1>


<% news.forEach(function(e){ %>
    <div class="" key="<%= e.id %>">
        <h2 > <%= e.name %></h2>
        <br>
        <p><%= e.post %></p>
    </div>
  <% }); %>



<%- include("pirtials/footer")  %> 